<form [formGroup]="productForm" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Image</label>
    <input type="text" class="form-control" id="image" placeholder="Enter Image" formControlName="image">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">description</label>
    <input type="text" class="form-control" id="description" placeholder="Enter Description" formControlName="description">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">stock</label>
    <input type="number" class="form-control" id="stock" placeholder="Enter Stock" formControlName="stock">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">price</label>
    <input type="number" class="form-control" id="price" placeholder="Enter Price" formControlName="price">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>